.unlock-page {
  color: var(--color-text-default);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 357px;
  padding: 30px;
  font-weight: 400;
  @media screen and (max-width: $break-small) {
   margin-top: -230px;  
  }

  &__container {
    display: flex;
    align-self: stretch;
    justify-content: center;
    flex: 1 0 auto;
    background: var(--color-background-default);
  }

  &__mascot-container {
     margin-top: 24px;
               

   
            
    // @media screen and (min-width: $break-large) {
    //   width: 85vw;
    //   justify-content: center;
    //   height: 75px;
    //   justify-content: center;
    // }
  
    // @media screen and (min-width: 769px) {
    //   width: 80vw;
    //   justify-content: center;
    // }
  
    // @media screen and (min-width: 1281px) {
    //   width: 62vw;
    //   justify-content: center;
    // }
  }

  &__title {
    @include H2;

    margin-top: 5px;
    font-weight: 800;
    color: var(--color-text-alternative);
  }

  &__form {
    width: 100%;
    margin: 56px 0 8px;

    @media screen and (max-width: $break-small) {
      margin: 0px 0 0px;  
      height: 100px;
     }
    
  }

  &__links {
    margin-top: 15px;
    width: 100%;
    text-align: center;
    font-size: 0.75rem;
  }

  &__link {
    font-size: unset;
    font-weight: bold;
  }

  &__support {
    margin-top: 25px;
    font-size: 0.75rem;

    a {
      color: var(--color-primary-default);
    }
  }
}
