.tab {
  margin-top: 10px;
  button {
    cursor: pointer;
    padding: 8px;
    min-width: 50px;
    text-align: center;
    display: block;
    width: 100%;
    background-color: unset;
    font-size: unset;
    color: unset;
    border-radius: 10px;
  }

  &--active {
    color: var(--color-text-default);
   // border-bottom: 2px solid var(--color-primary-default);
  }
}

.tabIcons{
  button{
    display: flex;
    align-items: center;
    flex-direction: column;
    img{
      margin: 0 0 5px 0;
    }
  }
}
